.hstack {
    display: flex;
    flex-direction: row;
}

.vstack {
    display: flex;
    flex-direction: column;
}

.zstack {
    position: relative;
}

/* Allow layering in ZStack */
.zstack > * {
    position: absolute;
    top: 0;
    left: 0;
}

.zstack > *:first-child {
    position: relative; /* base layer */
}

/* Alignment utility modifiers */
.alignStart {
    align-items: flex-start;
}

.alignCenter {
    align-items: center;
}

.alignEnd {
    align-items: flex-end;
}

.justifyStart {
    justify-content: flex-start;
}

.justifyCenter {
    justify-content: center;
}

.justifyEnd {
    justify-content: flex-end;
}

.justifyBetween {
    justify-content: space-between;
}

.justifyAround {
    justify-content: space-around;
}

.wrap {
    flex-wrap: wrap;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.textAlignLeft {
    text-align: left;
}

.textAlignCenter {
    text-align: center;
}

.textAlignRight {
    text-align: right;
}
