.swiftstack-hstack {
    display: flex;
    flex-direction: row;
}

.swiftstack-vstack {
    display: flex;
    flex-direction: column;
}

.swiftstack-zstack {
    position: relative;
}

/* Allow layering in ZStack */
.swiftstack-zstack > * {
    position: absolute;
    top: 0;
    left: 0;
}

.swiftstack-zstack > *:first-child {
    position: relative; /* base layer */
}

/* Alignment utility modifiers */
.swiftstack-alignStart {
    align-items: flex-start;
}

.swiftstack-alignCenter {
    align-items: center;
}

.swiftstack-alignEnd {
    align-items: flex-end;
}

.swiftstack-justifyStart {
    justify-content: flex-start;
}

.swiftstack-justifyCenter {
    justify-content: center;
}

.swiftstack-justifyEnd {
    justify-content: flex-end;
}

.swiftstack-justifyBetween {
    justify-content: space-between;
}

.swiftstack-justifyAround {
    justify-content: space-around;
}

.swiftstack-wrap {
    flex-wrap: wrap;
}

.swiftstack-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiftstack-textAlignLeft {
    text-align: left;
}

.swiftstack-textAlignCenter {
    text-align: center;
}

.swiftstack-textAlignRight {
    text-align: right;
}

